<div id="{{id}}-autocomplete" class="autocomplete form-horizontal">
    <div [hidden]="keywords_results.length === 0">
        <select id="{{id}}-input" [style.width]="width" class="autocomplete-drop select2-container--default" tabindex="-1"
        aria-hidden="true" title="Select" 
        [class.input-spinner]="keywords_results.length === 0"  [disabled]="keywords_results.length === 0">
            <option value="0">Select {{placeholder}}</option>
        </select>
    </div> 
    <div *ngIf="keywords_results.length === 0 && isComplete">No {{placeholder}} Found.</div>
</div>