<button class="usa-accordion-button" [attr.aria-expanded]="opened" [attr.aria-controls]="id">
  {{name}}
</button>
<div id="{{id}}" class="usa-accordion-content" [attr.aria-hidden]="!opened">
  <select id="{{id}}-input" [(ngModel)]='selected' title="Select PSC" (change)="addKeywords(selected)" 
    tabindex="-1" aria-hidden="true"  class="autocomplete-drop select2-container--default">
      <option id="0" selected value="0">Select PSC</option>
      <option *ngFor="let item of keywords_results" value="{{item.id}}">{{item.text}}</option>
  </select>

  <ul *ngIf="items_selected" class="items-selected">	     
    <li *ngFor="let keyword of items_selected">	 
      <a (click)="removeItem(keyword.value)" title="Remove {{keyword.description}}"><span class="usa-sr-only">Remove	
          {{keyword.value}}</span></a>{{keyword.value}} - {{keyword.description}}	
    </li>	
  </ul>	
  <discovery-filter-selected [id]="'msg-psc-selected'" [label]="'Added PSC code'"></discovery-filter-selected>
</div>