<discovery-hero></discovery-hero>
<!-- START Contract Vehicles Carousel -->
<div>
  <section class="usa-grid usa-section section-contracts" aria-label="Contrat Vehicles in Discovery">
    <div class="usa-width-one-whole text-center pad-bottom">
      <h2 class="section-head">Contract Vehicles on Discovery</h2>
    </div>
    <div class="usa-width-one-whole pad-top align-center-custom">
      <div class="usa-width-one-fourth widthCustom">
        <a [routerLink]="['/oasis']" class="vehicle animated">
          <h2>OASIS</h2>
          <p>One Acquisition Solution for Integrated Service</p>
        </a>

      </div>
      <div class="usa-width-one-fourth widthCustom">
        <a [routerLink]="['/bmo']" class="vehicle animated">
          <h2>BMO</h2>
          <p>Building Maintenance and Operations</p>
        </a>
      </div>
      <div class="usa-width-one-fourth widthCustom">
        <a [routerLink]="['/hcats']" class="vehicle animated">
          <h2>HCaTS</h2>
          <p>Human Capital and Training Solutions</p>
        </a>
      </div>
      <div class="usa-width-one-fourth widthCustom">
        <a [routerLink]="['/erm']" class="vehicle animated">
          <h2>ERM</h2>
          <p>Electronic Records Management</p>
        </a>
      </div>
    </div>
    <div class="usa-width-one-whole text-center pad-bottom">
      <p><b>Note:</b> Discovery Market Research Tool does not include all GSA offerings.
        <br/>If you're looking for something not listed above, please check out our more comprehensive website: 
        <a href="https://www.gsaelibrary.gsa.gov/"
           target="_blank"
           aria-label="GSAeLibrary link (Opens New Window)">GSAeLibrary</a>
      </p>
    </div>
  </section>
</div>
<!-- END Contract Vehicles Carousel -->