<section class="usa-hero">
  <div class="usa-grid text-center">
    <h1>OASIS</h1>
    <h3>One Acquisition Solution for Integrated Service</h3>
  </div>
</section>
<section class="usa-section">
  <div class="usa-grid">
    <div class="usa-width-one-sixth best-in-class"></div>
    <div class="usa-width-one-half">
      <p class="usa-font-lead">OASIS and OASIS Small Business (SB) are multiple award, Indefinite Delivery Indefinite
        Quantity (IDIQ) contracts that provide flexible and innovative solutions for complex professional services.
        Details of OASIS Contract include:
        OASIS and OASIS Small Business (SB) are multiple award, Indefinite Delivery Indefinite Quantity (IDIQ)
        contracts that provide flexible and innovative solutions for complex professional services. Details of OASIS
        Contract include:

      </p>
      <ul class="usa-font-lead">
        <li><strong>Best-in-Class</strong></li>
        <li>Span many areas of expertise and mission space</li>
        <li>Span multiple professional service disciplines</li>
        <li>Allow flexibility for all contract types, including hybrids and cost-reimbursement, at the task order
          level</li>
        <li>Allow ancillary support components, commonly referred to as Other Direct Costs (ODC), at the task order
          level</li>
      </ul>
      <h3>OASIS and OASIS SB Pool Disciplines</h3>
      <div *ngIf="pools.length===0">Loading...</div>
      <ul *ngIf="pools.length>0" class="usa-font-lead">
        <li *ngFor="let pool of pools"><a (click)="routeToLink(pool, 'OASIS_SB__OASIS', 'OASIS_SB_{pool_id}__OASIS_{pool_id}')">{{pool.number}} - {{pool.name}}</a></li>
      </ul>
    </div>
    <div class="usa-width-one-fourth">
      <h3>OASIS Links:</h3>
      <ul>
        <li><a href="https://www.gsa.gov/buying-selling/products-services/professional-services/buy-services/oasis/how-to-use-oasis"
               target="_blank"
               aria-label="OASIS Ordering Guide link (Opens New Window)">OASIS Ordering Guide</a>
        </li>
        <li><a href="https://www.gsa.gov/buying-selling/products-services/professional-services/buy-services/oasis/oasis-contracts"
               target="_blank"
               aria-label="OASIS Contracts link (Opens New Window)">OASIS Contracts</a>
        </li>
        <li><a href="https://www.gsa.gov/acquisition/products-services/professional-services/oasis/training-and-scope-reviews"
               target="_blank"
               aria-label="Upcoming Trainings link (Opens New Window)">Upcoming Trainings</a>
        </li>
        <li><a href="https://www.gsa.gov/buying-selling/products-services/professional-services/buy-services/one-acquisition-solution-for-integrated-services-oasis"
               target="_blank"
               aria-label="NAICS Codes Per Pool link (Opens New Window)">NAICS Codes per Pool</a>
        </li>
        <li><a href="https://www.gsa.gov/cdnstatic/OASIS FAQs as of 8202018 (3).xlsx"
               target="_blank"
               aria-label="OASIS FAQS link (Opens New Window)">OASIS FAQs</a>
        </li>
        <li>Contact OASIS at <a href="mailto:Oasis@gsa.gov" aria-label="Contact OASIS mailto link (Opens New Window)">Oasis@gsa.gov</a></li>
      </ul>
    </div>

  </div>
</section>