.usa-banner-inner .usa-accordion-button {
  background: transparent !important;
  border: 0px !important;
  padding-left: 3px !important;
}
.usa-banner-inner .usa-accordion-button span {
  padding-right: 5px !important;
}
.usa-banner-inner .usa-accordion-button[aria-expanded='true'] {
  border-left: 0px !important;
  font-weight: normal !important;
}
section.covid-19-banner{
  background-color: #cddc86;
}
section.covid-19-banner .covid-19-holder{
  padding:5px 35px;
  text-align: center;
}